.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Prop {
  background-color: #61dafb; 
}
ul.a {
  list-style-type: none;
}
.Comp {
  background-color: bisque;
}
.estado{
  background-color: darkgoldenrod;
}
.rencon {
  background-color: thistle;
}
.renel {
  background-color: skyblue;
}
.eventos {
  background-color: orange;
}
.comu{
  background-color: aqua;
}
.ciclo{
  background-color: yellow;
}
.ajaxapis {  
    background-color: violet; 
}
.pk{
  columns: 10;
}
.usestate{
  background-color: rgb(247, 16, 54);
}
.useeffect{
  background-color: aqua;
}
.relojhooks {
  background-color: antiquewhite;
}
.ajaxhooks {
  background-color: khaki;
}
.hp{
  background-color: aquamarine ;
}
.refe{
  background-color: floralwhite;
}
.form{
  background-color: orange;
}
.forsim{
  background-color: tomato;
}